@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 90vh;
    user-select: none;
}

.container_border {
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(43deg, #b3caf8 25%, #d880d2 50%, #6b8ac9 75%, #cfdcf6 100%);
    border-radius: 15px;
    box-shadow: 0 0 10px 2px gray;
    padding: 30px;
}

.container {
    width: 100%;
    background: whitesmoke;
    text-align: center;
    border-radius: 15px;
}

.genres_container {
    min-height: 340px;
    display: flex;
    justify-content: space-around;
    background: whitesmoke;
    text-align: center;
}

.container > h1 {
    user-select: none;
}

.genre_box {
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 10px 2px grey;
    filter: grayscale(100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.genre_box.checked {
    filter: grayscale(0%);
}

.buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    margin-top: 20px;
    user-select: none;
    color: whitesmoke;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    font-size:28px;
    text-align:center;
}
.result_row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 20px;
}
.result_saved_row > h3{
    font-size: 14px;
    margin: 3px 0;
}

.results_saved{
    margin-bottom: 20px;
}

.copy {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.3;
    margin-left: 10px;
}   
img {
    user-select: none;
    -webkit-user-drag: none;
}
.copy:hover {
    opacity: 1;
}
.bookmark{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.3;
}
.bookmark:hover {
    opacity: 1;
}

.result_saved_row {
    display: flex;
    align-items: center;
    justify-content: center;
}


.remove {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.3;
    margin-left: 10px;
}   
.remove:hover {
    opacity: 1;
}

.genbutton {
    margin: 21px 0;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    align-items: center;
    background-image: linear-gradient(223deg, #d880d2 0%, #6b8ac9 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.genbutton:active,
.genbutton:hover {
  outline: 0;
}

.genbutton:active {
    transform: scale(0.95); 
}

.statbutton {
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    align-items: center;
    margin-left: 15px;
    background-image: linear-gradient(223deg, #6b8ac9 0%, #d880d2 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 19px 24px;
    max-width: 100%;
    min-width: 60px;
}

.statbutton:active,
.statbutton:hover {
  outline: 0;
}

.statbutton:active {
    transform: scale(0.95); 
}

.returnbutton {
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    align-items: center;
    margin-left: 15px;
    background-image: linear-gradient(223deg, #6b8ac9 0%, #d880d2 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 19px 24px;
    max-width: 100%;
    min-width: 60px;
}

.returnbutton:active,
.returnbutton:hover {
  outline: 0;
}

.returnbutton:active {
    transform: scale(0.95); 
}

a {
    text-decoration: none;
}